[Desktop Entry]
Name=Restore Document Viewer Sessions
Keywords=pdf;ps;postscript;dvi;xps;djvu;tiff;document;presentation;viewer;
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;Viewer;Graphics;2DGraphics;VectorGraphics;
